@import '../../../node_modules/bulma/bulma/config/variables.sass';
@import '../../../node_modules/bulma/bulma/config/generated-variables.sass';


.likebutton-component {
  width:120px;
  height:48px;

  .vote-item{
    line-height: 48px;
    color:white;
    text-align: center;
    &.disabled{
      opacity: 0.3;
      pointer-events: none;
    }

  }

  .voters{
    position: relative;
    height: 100%;

    .down-vote{
      background-color: $red;
      &:hover{
        background-color: mix($red, #000000, 90) !important;
      }
      width:50%;
      height: 100%;
      position: absolute;

    }
    .up-vote{
      background-color: $green;
      &:hover{
        background-color: mix($green, #000000, 90) !important;
      }
      width:50%;
      right:0px;
      height: 100%;
      position: absolute;
    }
    .multipliers{
      width:100%;
      height: 100%;
      font-size: 24px;
      position: absolute;
      top:-100%;
      background-color: indianred;
    }
  }

  .display{
    position: relative;
    height: 100%;
    background-color: $blue;
  }
}
