.createjist-component {
  border: 1px dashed #f00;
}
.is-large-select{
  .select{
    font-size: 24px;
    height: 48px;
    line-height: 40px;
    padding: 3px 12px;
    min-width: 200px;
    &:after{
      width:16px !important;
      height:16px;
    }
  }
  &:after{
    width:16px !important;
    height:16px;
  }

}

.create-header{
  vertical-align: middle;
  line-height: 50px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
}