.searchresult-component {
  border: 1px dashed #f00;
}

.result-search-input{
  margin: 20px 0px;
}

.results-desc{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.results-title{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.super-padding{
  padding: 40px 0px 40px 40px !important;
}