.search-component {
  border: 1px dashed #f00;
}
$placeholder-color: rgba(66, 175, 227,0.5);
.main-searchbar {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.is-info{
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $placeholder-color;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
}

.search-table{
  display: table;
  width: 100%;
  height: 100%;
  .search-table-cell{
    vertical-align: top;
    display: table-cell;

  }
}