@import node_modules/bulma/bulma/utilities/utilities
@import node_modules/bulma/bulma/config/variables
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=latin,cyrillic)
$family-serif: 'Fira Sans', sans-serif
@import node_modules/bulma/bulma/config/generated-variables
$family-primary: $family-serif
@import node_modules/bulma/bulma/base/base
@import node_modules/bulma/bulma/elements/elements
@import node_modules/bulma/bulma/components/components
@import node_modules/bulma/bulma/layout/layout

$padding: 20px

.is-fullwidth-strong
  width: 100% !important

.padding
  padding: $padding

.no-padding
  padding: 0px !important

.no-padding-side
  padding-left: 0px !important
  padding-right: 0px !important

.padding-top
  padding-top: $padding

.modal-header
  color: white !important
  margin-bottom: 0px !important

.padding-side
  padding-left: $padding
  padding-right: $padding

.margin-top
  margin-top: $padding

.margin-left
  margin-left: $padding

.section
  box-shadow: rgba(0,0,0,0.1) 0px 2px 2px

.search-fullheight
  height: calc(100vh - 100px)

.white-text
  color: white !important

.is-hidden
  display: none !important

.noti-fixed
  position: fixed
  max-width: 200px
  width: auto
  padding: 1rem
  margin: 0px
  color: rgb(250, 250, 250)
  font-style: normal
  font-variant: normal
  font-weight: normal
  font-stretch: normal
  font-size: 1rem
  line-height: normal
  border-radius: 5px
  box-shadow: rgba(10, 10, 11, 0.121569) 0px 0px 1px 1px
  cursor: default
  transition: 0.5s cubic-bezier(0.89, 0.01, 0.5, 1.1)
  transform: translateZ(0px)

.clickable
  cursor: pointer

.notification-list
  position: fixed
  z-index: 999999