.logo{
  white-space: nowrap;
  .main{
    color:#1f99d3;
    font-size: 60px;
  }
  .sub{
    font-size: 12px;
  }
}

.is-large{
  .fa{
    font-size: 24px !important;
    top:12px !important;
    left:12px !important;
  }
  .input{
    padding-left: 42px !important;
  }
}

.divider{
  border-bottom: #ddd 1px solid;
  margin: 20px 0px;
}

