.common-component {
  border: 1px dashed #f00;
}

.card{
  border-radius: 4px;
  overflow: hidden;

}
.card-custom-footer{
  padding: 0px;
  display: flex;
  justify-content: space-between;
  .card-custom-footer-left{
    padding: 14px 14px;
    span{
      margin-right: 6px;
    }
  }
  .card-custom-footer-right{
    .button{
      border-radius: 0px;
    }
  }

}
.card-custom-header{
  display: flex;
  justify-content: space-between;
  .card-custom-header-num{
    font-size: 22px;
    height: 48px;
    padding: 11px 20px;
    background-color: #fafafa;
    &.button{
      border-radius: 0px;
    }
    .title{
      display: inline-block;
      vertical-align: middle;
    }

  }
  .card-custom-header-left{

    font-size: 22px;
    height: 48px;
    padding: 11px 20px;
    width:100%;
    overflow: hidden;
    .title{
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

    }
  }
  .card-custom-header-right{
    white-space: nowrap;
    padding-top: 13px;
    padding-right: 13px;
    .button{
      border-radius: 0px;
    }
    span{
      margin-left: 6px;
    }
  }
}

.voter-wrapper{
  width: 100px;
  height: 48px;
  background-color: red;
  border-top-left-radius: 6px;
  position: absolute;
  bottom: 48px;
}