.coub-component {
  border: 1px dashed #f00;
}

.coub-wrapper {
  position: relative;
  //padding-bottom: 56.25%; /* 16:9 */
  //padding-top: 25px;
  background-color: #fafafa;
  &.adding{
    height: 192px;
  }
}
.coub-wrapper iframe,.coub-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
