.link-component {
  border: 1px dashed #f00;
}

.link-desc-wrapper{
  height:100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link-desc{
vertical-align: middle;
  display: inline-block;
  padding: 20px;
  width: 100%;
  background-color: rgba(255,255,255,0.7);

}
.link-img{
  width:200px;
}